/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/* button change */
@media screen and (max-width: 1125px) and (min-width: 768px) {
    .fullButtonWidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*Tablet view*/
@media screen and (max-width: 1024px) and (min-width: 700px) {
    .columnSizeToHalfWidthForTablet {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

body{
background-color: #F4F4F4;
overflow-x: hidden; /* Hide horizontal scrollbar */
}

.underlineText{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.halfWidth{
    width: 50%;
}

.box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
  }